/* 
    Document   : chat
    Created on : Dec 11, 2012, 10:03:43 AM
    Author     : martijn
    Description:
        Purpose of the stylesheet follows.
*/
#chatroom {


    height: 100%;
    width: 100%;
}


#chat {

    float:left;
    height: 92%;
    width: 80%;
    border:0px;
}


#phrase {
    width: 28em;
}

#altServer {
    width: 20em;
}

#username {
    width: 20em;
}

.hidden {
    display: none;
}

span.from {
    font-weight: bold;
}

span.membership {
    font-style: italic;
}



#members {

    float:left;
    margin-top: 2px;
    padding-left: 5px;
    border:0px;
    height: 92%;
    width: 19%;
    background-color: #abd6ff;
    background-repeat: repeat-x;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.dojoxDockRestoreButton{

    background-color: transparent;
    background-image: url("/images/chat/chat.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    margin-top: 2px;
}

.dojoxDockTitleNode{

    margin-left:5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dojoxDock{

    border: 1px solid lightgray;
}

.dojoxDockNode{


    border : 1px solid #adadad;
    margin-left: 5px;


    height: 16px;
    width: 100px;

    background-color: #fafafa;
    background-repeat: repeat-x;
}

.dojoxFloatingPaneTitle{

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b5bcc7;
    background-color: #efefef;
    background-repeat: repeat-x;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.dojoxFloatingPane{

    background-color: #ffffff;
    position: relative;
    
    /*
    min-height: 620px;
    min-width: 600px;
    */
    border: 1px solid #b5bcc7;
}

/* Line 9 */
.dojoxFloatingPaneFg
{
}
