/* 
    Document   : icons
    Created on : Dec 11, 2012, 10:01:23 AM
    Author     : martijn
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * Icons
*/
.projectIcon {

    background-image : url('/images/tree/project.png');	
    width            : 16px;
    height           : 16px;
}

.welcomeIcon{

    background-image : url('/images/tabs/welcome.png');	
    width            : 16px;
    height           : 16px;
}

.closedProjectIcon {

    background-image : url('/images/tree/project.png');	
    width            : 16px;
    height           : 16px;
}

.noAvailableProjectsIcon{

    color: #b5bcc7;
}

.trashEmptyIcon{

    background-image : url('/images/menubar/trash.png');	
    width            : 16px;
    height           : 16px;	
}

.trashFullIcon{

    background-image : url('/images/menubar/trash-full.png');	
    width            : 16px;
    height           : 16px;	
}

.tomcatIcon {

    background-image : url('/images/services/tomcat16x16.png');	
    width            : 24px;
    height           : 16px;
}

.tomcatWebAppsIcon {

    background-image : url('/images/services/tomcat-webapps.png');	
    width            : 16px;
    height           : 16px;
}

.tomcatAppIcon {

    background-image : url('/images/services/tomcat-webapp.png');	
    width            : 16px;
    height           : 16px;
}

.mysqlIcon {

    background-image : url('/images/services/mysql.png');	
    width            : 24px;
    height           : 16px;
}

.oracleIcon {

    background-image : url('/images/services/oracle.png');	
    width            : 24px;
    height           : 16px;
}

.javadbIcon {

    background-image : url('/images/services/javadb.png');	
    width            : 24px;
    height           : 16px;
}

.databasesIcon {

    background-image : url('/images/services/databases.png');	
    width            : 16px;
    height           : 16px;
}

.webServicesIcon{

    background-image : url('/images/services/web-services.png');	
    width            : 16px;
    height           : 16px;
}

.serverIcon{

    background-image : url('/images/services/server.png');	
    width            : 16px;
    height           : 16px;
}

.mavenRepositoriesIcon{

    background-image : url('/images/services/maven-repositories.png');	
    width            : 16px;
    height           : 16px;
}

.issueTrackersIcon{

    background-image : url('/images/services/issue-trackers.png');	
    width            : 16px;
    height           : 16px;
}

.continuousIntegrationIcon{

    
    background-image : url('/images/services/continuous-integration.png');	
    width            : 16px;
    height           : 16px;
}

.thumbUpIcon{

    background-image : url('/images/menubar/thumb-up.png');	
    width            : 16px;
    height           : 16px;	
}

.thumbDownIcon{

    background-image : url('/images/menubar/thumb-down.png');	
    width            : 16px;
    height           : 16px;	
}

.noThumbIcon{

    width            : 16px;
    height           : 16px;	
}

.commentAddIcon{

    background-image : url('/images/menubar/comment-add.png');	
    width            : 16px;
    height           : 16px;	
}

.bugAddIcon{

    background-image : url('/images/menubar/bug-add.png');	
    width            : 16px;
    height           : 16px;	
}

.projectSettingsIcon {

    background-image : url('/images/tree/project-settings.png');	
    width            : 16px;
    height           : 16px;	
}

.projectSettingsUntrackedIcon{

    background-image : url('/images/tree/project-settings-untracked.png');	
    width            : 16px;
    height           : 16px;	
}

.projectSettingsModifiedIcon{

    background-image : url('/images/tree/project-settings-modified.png');	
    width            : 16px;
    height           : 16px;	
}

.mavenSettingsIcon {

    background-image : url('/images/tree/maven-settings.png');	
    width            : 16px;
    height           : 16px;
}

.mavenSettingsModifiedIcon {

    background-image : url('/images/tree/maven-settings-modified.png');	
    width            : 16px;
    height           : 16px;
}

.mavenSettingsUntrackedIcon {

    background-image : url('/images/tree/maven-settings-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.wsdlFileIcon {

    background-image : url('/images/tree/wsdl-file.png');	
    width            : 16px;
    height           : 16px;    
}

.wsdlFileModifiedIcon {

    background-image : url('/images/tree/wsdl-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.wsdlFileUntrackedIcon  {

    background-image : url('/images/tree/wsdl-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}

.jarFileIcon {

    background-image : url('/images/tree/jar-file.png');	
    width            : 16px;
    height           : 16px;    
}

.sha1FileIcon {

    background-image : url('/images/tree/sha1-file.png');	
    width            : 16px;
    height           : 16px;    
}

.xsdFileIcon {

    background-image : url('/images/tree/xsd-file.png');	
    width            : 16px;
    height           : 16px;    
}

.xsdFileModifiedIcon {

    background-image : url('/images/tree/xsd-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.xsdFileUntrackedIcon  {

    background-image : url('/images/tree/xsd-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}

.xhtmlFileIcon {

    background-image : url('/images/tree/xhtml-file.png');	
    width            : 16px;
    height           : 16px;    
}

.xhtmlFileModifiedIcon {

    background-image : url('/images/tree/xhtml-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.xhtmlFileUntrackedIcon  {

    background-image : url('/images/tree/xhtml-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}

.cssFileIcon {

    background-image : url('/images/tree/css-file.png');	
    width            : 16px;
    height           : 16px;    
}

.cssFileModifiedIcon {

    background-image : url('/images/tree/css-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.cssFileUntrackedIcon  {

    background-image : url('/images/tree/css-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}

.textFileIcon {

    background-image : url('/images/tree/text-file.png');	
    width            : 16px;
    height           : 16px;    
}

.textFileModifiedIcon {

    background-image : url('/images/tree/text-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.textFileUntrackedIcon  {

    background-image : url('/images/tree/text-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}

.jsFileIcon {

    background-image : url('/images/tree/javascript-file.png');	
    width            : 16px;
    height           : 16px;    
}

.jsFileModifiedIcon {

    background-image : url('/images/tree/javascript-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.jsFileUntrackedIcon  {

    background-image : url('/images/tree/javascript-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}

.imageFileIcon {

    background-image : url('/images/tree/image-file.png');	
    width            : 16px;
    height           : 16px;    
}

.imageFileModifiedIcon {

    background-image : url('/images/tree/image-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.imageFileUntrackedIcon  {

    background-image : url('/images/tree/image-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}


.tldFileIcon {

    background-image : url('/images/tree/tld-file.png');	
    width            : 16px;
    height           : 16px;    
}

.tldFileModifiedIcon {

    background-image : url('/images/tree/tld-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.tldFileUntrackedIcon  {

    background-image : url('/images/tree/tld-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}


.htmlFileIcon {

    background-image : url('/images/tree/html-file.png');	
    width            : 16px;
    height           : 16px;    
}

.htmlFileModifiedIcon {

    background-image : url('/images/tree/html-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.htmlFileUntrackedIcon  {

    background-image : url('/images/tree/html-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}


.sqlFileIcon {

    background-image : url('/images/tree/sql-file.png');	
    width            : 16px;
    height           : 16px;    
}

.sqlFileModifiedIcon {

    background-image : url('/images/tree/sql-file-modified.png');	
    width            : 16px;
    height           : 16px;    
}

.sqlFileUntrackedIcon  {

    background-image : url('/images/tree/sql-file-untracked.png');	
    width            : 16px;
    height           : 16px;    
}


.propertiesFileIcon{

    background-image : url('/images/tree/properties-file.png');	
    width            : 16px;
    height           : 16px;    
}

.propertiesFileModifiedIcon{

    background-image : url('/images/tree/properties-file.png');	
    width            : 16px;
    height           : 16px;    
}

.propertiesFileUntrackedIcon{

    background-image : url('/images/tree/properties-file.png');	
    width            : 16px;
    height           : 16px;    
}

.flowDesignIcon {

    background-image : url('/images/tree/flow-design.png');	
    width            : 16px;
    height           : 16px;		
}

.flowDesignUntrackedIcon {

    background-image : url('/images/tree/flow-design-untracked.png');	
    width            : 16px;
    height           : 16px;		
}

.flowDesignModifiedIcon {

    background-image : url('/images/tree/flow-design-modified.png');	
    width            : 16px;
    height           : 16px;		
}

.sourceFolderIcon {

    background-image : url('/images/tree/source-folder.png');	
    width            : 16px;
    height           : 16px;
}

.sourceFolderUntrackedIcon {

    background-image : url('/images/tree/source-folder-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.sourceFolderModifiedIcon {

    background-image : url('/images/tree/source-folder-modified.png');	
    width            : 16px;
    height           : 16px;
}

.sourceFolderMissingIcon {

    background-image : url('/images/tree/source-folder-missing.png');	
    width            : 16px;
    height           : 16px;
}

.webappFolderIcon {

    background-image : url('/images/tree/webapp-folder.png');	
    width            : 16px;
    height           : 16px;
}

.webappFolderUntrackedIcon {

    background-image : url('/images/tree/webapp-folder-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.webappFolderModifiedIcon {

    background-image : url('/images/tree/webapp-folder-modified.png');	
    width            : 16px;
    height           : 16px;
}

.webappFolderMissingIcon {

    background-image : url('/images/tree/webapp-folder-missing.png');	
    width            : 16px;
    height           : 16px;
}


.javaFileIcon {

    background-image : url('/images/tree/java-file.png');	
    width            : 16px;
    height           : 16px;
}

.javaFileUntrackedIcon {

    background-image : url('/images/tree/java-file-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.javaFileModifiedIcon {

    background-image : url('/images/tree/java-file-modified.png');	
    width            : 16px;
    height           : 16px;
}

.jspFileIcon {

    background-image : url('/images/tree/jsp-file.png');	
    width            : 16px;
    height           : 16px;
}

.jspFileUntrackedIcon {

    background-image : url('/images/tree/java-file-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.jspFileModifiedIcon {

    background-image : url('/images/tree/java-file-modified.png');	
    width            : 16px;
    height           : 16px;
}

.xmlFileIcon {

    background-image : url('/images/tree/xml-file.png');	
    width            : 16px;
    height           : 16px;
}

.xmlFileUntrackedIcon {

    background-image : url('/images/tree/xml-file-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.xmlFileModifiedIcon {

    background-image : url('/images/tree/xml-file-modified.png');	
    width            : 16px;
    height           : 16px;
}

.resourceFolderIcon {

    background-image : url('/images/tree/resource-folder.png');	
    width            : 16px;
    height           : 16px;
}

.resourceFolderUntrackedIcon {

    background-image : url('/images/tree/resource-folder-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.resourceFolderModifiedIcon {

    background-image : url('/images/tree/resource-folder-modified.png');	
    width            : 16px;
    height           : 16px;
}

.resourceFolderMissingIcon {

    background-image : url('/images/tree/resource-folder-missing.png');	
    width            : 16px;
    height           : 16px;
}

.folderIcon {

    background-image : url('/images/tree/folder.png');	
    width            : 16px;
    height           : 16px;
}

.folderUntrackedIcon {

    background-image : url('/images/tree/folder-untracked.png');	
    width            : 16px;
    height           : 16px;
}

.folderModifiedIcon {

    background-image : url('/images/tree/folder-modified.png');	
    width            : 16px;
    height           : 16px;
}

.folderMissingIcon {

    background-image : url('/images/tree/folder-missing.png');	
    width            : 16px;
    height           : 16px;
}

/**
 * Command Icons
*/
.compileCommandIcon{

    background-image : url('/images/maven/compile.png');	
    width            : 16px;
    height           : 16px;
}

.cleanCommandIcon{

    background-image : url('/images/maven/clean.png');	
    width            : 16px;
    height           : 16px;
}

.installCommandIcon{

    background-image : url('/images/maven/install.png');	
    width            : 16px;
    height           : 16px;
}


/**
 * Top Menubar Icons
*/
.newProjectIcon {

    background-image : url('/images/menubar/project-add.png');	
    width            : 16px;
    height           : 16px;
}

.newFileIcon {

    background-image : url('/images/menubar/file-add.png');	
    width            : 16px;
    height           : 16px;
}

.openProjectIcon{

    background-image : url('/images/menubar/project-open.png');	
    width            : 16px;
    height           : 16px;
}

.projectDeleteIcon {

    background-image : url('/images/menubar/project-delete.png');	
    width            : 16px;
    height           : 16px;

}

.closeProjectIcon {

    background-image : url('/images/menubar/project-close.png');	
    width            : 16px;
    height           : 16px;
}

.saveAllIcon{

    background-image: url("/icons/images/editorIconsEnabled.png"); 
    width            : 18px;
    height           : 18px;
    background-position: -18px;
}



.undoIcon{

    background-image: url("/icons/images/editorIconsEnabled.png"); 
    width            : 18px;
    height           : 18px;
    background-position: -144px;
}

.redoIcon{

    background-image: url("/icons/images/editorIconsEnabled.png"); 
    width            : 18px;
    height           : 18px;
    background-position: -162px;      
}

.cutIcon{

    background-image: url("/icons/images/editorIconsEnabled.png"); 
    width            : 18px;
    height           : 18px;
    background-position: -54px;
}

.copyIcon{

    background-image: url("/icons/images/editorIconsEnabled.png"); 
    width            : 18px;
    height           : 18px;
    background-position: -72px;
}

.pasteIcon{

    background-image: url("/icons/images/editorIconsEnabled.png"); 
    width            : 18px;
    height           : 18px;
    background-position: -90px;
}

.rerunMaven{

    background-image: url("/images/maven/rerun.png"); 
    width            : 16px;
    height           : 16px;
}

.runMaven{

    background-image: url("/images/maven/run-new.png"); 
    width            : 16px;
    height           : 16px;
}

.stop{

    background-image: url("/images/maven/stop.png"); 
    width            : 16px;
    height           : 16px;
}
